@import '../../components//Layout.module.scss';

.articlesItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  background-color: $white;
  padding: 16px;
  margin: 26px 0;
}
.title {
  color: #1890ff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5px;
}
.articlesTags {
  margin-bottom: 8px;
}
.tags {
  padding: 3px 5px;
  margin-right: 8px;
  border: 2px solid #000;
  border-radius: 5px;
}
.userInfo {
  display: flex;
}
.articleBody {
  width: 680px;
}
.userName {
}
.userDate {
  font-size: 12px;
  line-height: 22px;
}
.userImg > img {
  width: 46px;
  height: 46px;
  margin-left: 12px;
  border-radius: 50%;
}