@import '../../styles/color.module.scss';

.articleCard{
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 650px;
  background-color: $white;
  padding: 16px;
  margin: 100px auto 20px;
}
.card {
  &_info {
    width: 700px;
    &__description {
      margin-top: 16px;
      @include break;
      @include description;
    }
    &__body {
      margin-top: 25px;
      color: $black;
      @include break;
      width: 680px;
    }
  }
  &_title {
    display: flex;
    align-items: center;
    width: 640px;
    &__title {
      margin: 0 13px 5px 0;
      max-width: 570px;
      @include title;
      @include break;
    }
    &__likeCount {
      margin-left: 5px;
    }
  }
}
.articleTags {
  margin-bottom: 8px;
}
.tag {
  color: $grey;
  padding: 3px 5px;
  margin-right: 8px;
  border: 2px solid $grey;
  border-radius: 5px;
}

.userPanel {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.userInfo {
  display: flex;
  &_date {
    @include fs14-lh22;
    color: $grey;
  }
  &_img > img {
    @include userImg;
  }
}

.btns {
  display: flex;
  column-gap: 12px;
  &_delete {
    color: $red;
    width: 78px;
    border: 1px solid $red;
    @include btnApp;
  }
  &_edit {
    color: $green;
    width: 65px;
    border: 1px solid $green;
    @include btnApp;
  }
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spin {
  margin: 0 auto;
  padding: 100px;
}