.container {
    width: 950px;
    height: 100%;
    margin: 110px auto 26px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }