@import '../../color/color.module.scss';

.CreateArticle {
  height: 100%;
  &_card {
    text-align: center;
    min-height: 700px;
    padding: 40px 32px 40px 32px;
    width: 938px;
    margin: 30px auto 0 auto;
    background-color: $white;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
      0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
      0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
      0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  &_title {
    @include fs20-lh28-w500;
    margin-bottom: 20px;
  }
  &_label {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 20px;
    &__tags {
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;
      column-gap: 17px;
    }
  }
  &_input {
    @include input;
    height: 40px;
    &__tags {
      @include input;
      width: 300px;
      height: 40px;
    }
  }
  &_textarea {
    @include input;
    height: 170px;
  }
  &_submit {
    width: 319px;
    @include submit;
    margin-right: auto;
  }
}

.newTags {
  display: flex;
  column-gap: 17px;
  align-items: baseline;
  &_form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: start;
  }
}

.btn {
    &_delete {
      color: $red;
      width: 118px;
      border: 1px solid $red;
      @include btnApp;
    }
    &_add {
      color: $blue;
      border: 1px solid $blue;
      width: 118px;
      @include btnApp;
      align-self: flex-end;
    }
}

.error {
    @include error-msg;
}