$green: #52c41a;
$white: #fff;
$black: #000;
$grey: rgba(0, 0, 0, 0.5);
$blue: #1890ff;
$lightgrey: #d9d9d9;
$red: #f5222d;

@mixin description {
  color: $grey;
  font-size: 12px;
  line-height: 22px;
}
@mixin break {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
@mixin title {
  color: $blue;
  font-size: 20px;
  line-height: 28px;
}
@mixin input {
  margin-top: 2px;
  padding: 12px 8px;
  border: 1px solid $lightgrey;
  border-radius: 4px;
}

@mixin submit {
  height: 40px;
  color: $white;
  background-color: $blue;
  border-radius: 4px;
}