@import '../../color/color.module.scss';

.Header {
  display: flex;
  justify-content: space-between;
  padding: 16px 22px;
  background-color: $white;
}
.logo {
  font-family: inherit;
  font-size: 18px;
  line-height: 28px;
  color: $black;
}
.sign_in {
  color: $black;
}

.panel {
  display: flex;
  column-gap: 19px;
  &_btnSignup {
    color: $green;
    border: 1px solid $green;
    border-radius: 5px;
    padding: 6px 18px;
  }
}
.footer {
  text-align: center;
  padding: 12px;
}
.userImg > img {
  width: 46px;
  height: 46px;
  margin-left: 12px;
  border-radius: 50%;
}

.userPanel {
  display: flex;
  align-items: center;
  column-gap: 26px;
  margin-right: 12px;
}


.logoutBtn {
  padding: 10px 16px;
  border: 1px solid $black;
  border-radius: 5px;
}
.username {
  color: $black;
  font-size: 18px;
  line-height: 28px;
}