@import '../../styles/color.module.scss';

.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 16px 22px;
  background-color: $white;
  margin: auto 0;
  width: 100%;
  &_logo {
    display: flex;
    align-items: center;
    font-family: inherit;
    @include fs18-lh28;
    color: $black;
  }
  &_panel {
    display: flex;
    column-gap: 19px;
  }
}
.user {
  &_panel {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-right: 12px;
  }
  &_name {
    color: $black;
    @include fs18-lh28;
  }
  &_img > img {
    @include userImg;
  }
}

.btn {
  &_auth {
    display: flex;
    align-items: center;
    color: $green;
    border: 1px solid $green;
    @include btnHeader;
  }
  &_logout {
    border: 1px solid $black;
    @include btnHeader;
  }
  &_login {
    color: $black;
  }
}
.footer {
  text-align: center;
  padding: 12px;
}
