$green: #52c41a;
$white: #fff;
$black: #000;

.Layout {
  display: flex;
  justify-content: space-between;
  padding: 16px 22px;
  background-color: $white;
}
.logo {
  font-family: inherit;
  font-size: 18px;
  line-height: 28px;
  color: $black;
}
.panel {
  display: flex;
  column-gap: 19px;
  &_btnSignup {
    color: $green;
    border: 1px solid $green;
    border-radius: 5px;
    padding: 6px 18px;
  }
}
.footer {
  text-align: center;
  padding: 12px;
}