.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination {
    display: flex;
    justify-content: center;
  }
.spin {
    margin: 0 auto;
    padding: 100px;
  }
  