@import '../../styles/color.module.scss';

.articleCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 140px;
  background-color: $white;
  padding: 16px;
  
}
.card_title{
  display: flex;
  align-items: baseline;
  width: 640px;
  &__title {
    margin: 0 15px 10px 0;
    max-width: 570px;
    @include title;
    @include break;
  }
  &__like {
    cursor: pointer;
    position: relative;
    top: 2px;
  }
  &__likeCount {
    margin-left: 5px;
  }
}

.articleTags {
  margin-bottom: 8px;
}
.tag {
  padding: 3px 5px;
  margin-right: 8px;
  border: 2px solid  $black;
  border-radius: 5px;
}

.description {
  @include description;
  width: 680px;
  @include break;
}

.userInfo {
  display: flex;
  &_date {
    @include fs14-lh22;
  }
  &_img > img {
    @include userImg;
  }
}